.btnbox {
    width: 70px;
    height: 123px;
    border-radius: 20px;
    background-color: #fff;
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 0px 4px #dcdcdc, 0px 0px 0px #dcdcdc,inset 0px 0px 0px #d1d1d1, inset 0px 0px 0px #e4e4e4;
    margin: 0.5rem;
    cursor: pointer;
    outline: 2px solid transparent;
    text-align: center;
}

.btnbox.btnOn {
    box-shadow: 0px 0px 0px #dcdcdc, 0px 0px 0px #dcdcdc, inset 1px -1px 4px #b1aeae, inset -1px 1px 4px #e4e4e4;
    outline: 2px solid white;
}

.btnbox.alert {
    background-color: #FF3131;
    outline: 3px solid #f57b7b;
    box-shadow: 0px 0px 0px #dcdcdc, 0px 0px 0px #dcdcdc, inset 0px 0px 0px #b1aeae, inset 0px 0px 0px #e4e4e4;
    animation: alertbtnbox 0.5s infinite alternate;
}

.innerBtnBox {
    transform: scale(0.99);
    transition: all ease-in-out 0.2s;
}

.btnOn .innerBtnBox {
    transform: scale(0.93);
}

.ledOut {
    width: 54px;
    height: 54px;
    background-color: white;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    margin: 5px auto 0 auto;
    position: relative;
}

.ledOut.alert {
    background-color: #e20e2f;
    border: 2px solid #f5f5f5;
}

.ledOut::after {
    content: "";
    height: 19px;
    width: 2px;
    background-color: #dedede;
    position: absolute;
    display: block;
    bottom: -23px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.led {
    top: 1px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.led img {
    width: 44px;
    height: 44px;
}

.led.rec {
    top: 3px;
}

.led.alert {
    top: -3px;
    left: -2px;
    width: 53px;
    height: 53px;
}

.led.off {
    top: 1px;
    width: 44px;
}

.led .lancia {
    width: 3px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 2px;
    top: 3px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 3px #8b8b8b;
    transform-origin: 1px 18px;
    transform: rotate(-52deg);
    animation: lancia 2s .5s forwards;
}

.alert .codeName {
    color: white;
    border-bottom: 4px solid transparent;
    border-bottom: 4px solid rgb(255, 209, 209);
}

.btnOn.alert .codeName {
    color: white;
    border-bottom: 4px solid transparent;
    border-bottom: 4px solid rgb(102, 7, 7);
}

.codeName {
    font-size: 13px;
    font-family: 'Open Sans Bold';
    letter-spacing: -1px;
    color: gray;
    margin-top: 24px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(239, 239, 239);
    display: inline-block;
    transition: all ease-in-out 0.3s;
}

.btnOn .codeName {
    border-bottom: 4px solid green;
    display: inline-block;
}

.alertSymbol {
    top: 2px;
    position: absolute;
    left: 3px;
    animation: alert 1s infinite forwards;
}

.circleAlert {
    width: 45px;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.38);
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    left: 2px;
    top: 0px;
    animation: alertCircle 2s infinite;
}

@keyframes alert {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes alertCircle {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes lancia {
    0% {
        transform: rotate(-52deg);
    }

    50% {
        transform: rotate(52deg);
    }

    100% {
        transform: rotate(-52deg);
    }
}

@keyframes alertbtnbox {
    from {
        transform: scale(0.99);
    }

    to {
        transform: scale(1.05);
    }
}
