@import '../../assets/scss/_variabili';

.boxDati {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240) 10%,
    rgb(247, 247, 247) 100%
  );
  position: relative;
  margin-left: 20px;
  padding: 20px 15px;
  width: 370px;
  overflow: hidden;
  transition: background ease-in-out 0.5s;
  min-height: 00px;
  border-left: 5px solid #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.stakerDati {
    position: absolute;
    z-index: 100;
    width: 100%;
    margin-left: 0px;
    padding: 0;
    min-height: 632px;
  }

  header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .titoletto {
    font-family: 'Open Sans Bold';
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
    color: $lightGray;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 1rem 0;
  }

  .modalOpen {
    transform: scale(1.1);
  }

  &.rec {
    border-left: 13px solid $yellow;
  }

  &.off {
    border-left: 13px solid $lightGray;
  }

  &.ok {
    border-left: 13px solid $darkGreen;
  }

  &.alert-running,
  &.alert-ready {
    border-left: 13px solid $darkred;
    .layoutSensori {
      background-color: $red;
    }
  }
}

.codiceStaker {
  font-size: 35px;
  font-family: 'Open Sans Bold';
  line-height: 1;
  text-transform: uppercase;
  color: $gray;
}

.wrapperStatoSensore {
  background: #ededed;
  border-radius: 5px;
  padding: 1px;
}

.stato {
  display: flex;
  padding: 15px 15px;
  color: $alertText;

  img {
    width: 30px;
    margin-top: 3px;
  }
}

.alert-running,
.alert-ready {
  .codiceStaker {
    color: $alertText;
  }

  .titoletto {
    color: $alertText;
  }

  .stato {
    background: transparent;
    border-bottom: 3px dotted transparent;
    margin-top: 0px;
    padding-bottom: 0;

    .label {
      font-size: 70px;

      .running {
        font-size: 1rem;
      }
    }
  }

  .datoLabel {
    font-size: 18px;
    text-transform: uppercase;
    color: $alertText;
  }

  .buttonWrapper {
    text-align: center;
  }
}

.rec {
  .stato {
    background-color: #ededed;
  }
  .recStop {
    margin: 10px 12px 10px auto;
    display: block;
    background-color: $darkred;
    color: white;
  }
}

.ok {
  .label {
    color: $green;
  }
}

.off {
  .label {
    color: $lightGray;
  }
}

.rec {
  .label {
    color: #e8a85a;
  }
}

.label {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -3px;
  margin-left: 5px;
  position: relative;
}

.datoLabel svg {
  font-size: 1.1rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

.datoLabel {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-left: 7px;
  font-size: 15px;
  color: $gray;
}

.datiStato {
  margin-left: 0px;
}

.bloccoDati {
  padding: 15px 10px;
  margin: 10px 0;
  background-color: #ebebeb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;

  .titoloInterno {
    text-transform: uppercase;
    font-family: 'Open Sans Bold';
    color: $lightGray;
    line-height: 1;
    font-size: 0.9rem;
  }

  .datoInterno {
    font-size: 36px;
    line-height: 1;
    text-align: right;
  }

  .datoInterno span {
    font-size: 30px;
    margin-left: -7px;
  }
}

.wrapperAlert img {
  margin-left: -21px;
  width: 400px;
  height: 113px;
  position: relative;
  animation: alertbox 1s forwards;
}

.buttonStop {
  margin: 1rem auto;
  display: block;
  outline: none;
  background-color: $lightRed;
  width: 250px;
  font-family: 'Open Sans Bold';
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: none;
}

.buttonStop:hover {
  background-color: $darkred;
  color: #fff;
}

.wrapperbutton {
  text-align: center;

  button {
    background-color: $darkGreen;
    color: white;
    font-size: 16px;
  }

  button.alert {
    background-color: $darkred;
  }
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconastatoRec {
  position: relative;
}

.lancia {
  width: 3px;
  height: 15px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  top: 3px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 3px #8b8b8b;
  transform-origin: 2px 14px;
  transform: rotate(-52deg);
  animation: lanciaInizio 2s alternate infinite;
}

.backToDash {
  position: relative;
  background-color: $backHeader;
  display: block;
  margin: 0 0 auto auto;
  height: 35px;
}
.titleNodo {
  margin-bottom: 1rem;
}
.schedaSensore {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  min-height: 632px;
}

.layoutSensori {
  width: 370px;
  padding: 47px 17px;
}

.layoutGraph {
  flex: 1;
  margin: 4px;
  padding: 17px 17px;
}

@keyframes lanciaInizio {
  0% {
    transform: rotate(-52deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

@keyframes alertbox {
  from {
    opacity: 0;
    left: -100%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}
