.boxDati {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240) 10%,
    rgb(247, 247, 247) 100%
  );
  position: relative;
  margin-left: 20px;
  padding: 20px;
  min-width: 270px;
  overflow: hidden;
}
.boxDati .titoletto {
  font-family: "Open Sans Bold";
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1;
  color: gray;
}

.codiceStaker {
  font-size: 35px;
  font-family: "Open Sans Semibold";
  line-height: 1;
  text-transform: uppercase;
}

.stato {
  display: flex;
  margin-top: 20px;
  padding: 23px 15px;
  border-bottom: 3px dotted #74b482;
  margin-bottom: 1rem;
  background: #f8f8f8;
}
.stato img {
  width: 20px;
  margin-top: 3px;
}
.label {
  font-family: "Open Sans Bold";
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -3px;
  margin-left: 5px;
  position: relative;
}
.datoLabel svg{
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.ok .label {
  color: #4d9a4d;
}
.off .label {
  color: gray;
}
.alert .label {
  color: #ff3130;
}
.rec .label {
  color: #4d9a4d;
}


.datoLabel {
  font-family: "Open Sans Bold";
  text-transform: capitalize;
  letter-spacing: -1px;
  margin-left: 7px;
  font-size: 14px;
}
.datiStato {
  margin-left: 0px;
}
.datiInterni {
}
.bloccoDati {
  padding: 10px 10px;
  margin: 10px 0;
  background-color: #ebebeb;
  border-left: 2px solid green;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.bloccoDati .titoloInterno {
  text-transform: uppercase;
  font-family: "Open Sans Semibold";
  color: gray;
  line-height: 1;
}
.bloccoDati .datoInterno {
  font-size: 36px;
  line-height: 1;
  text-align: right;
}
.bloccoDati .datoInterno span {
  font-size: 30px;
  margin-left: -7px;
}
