@use '../../assets/scss/variabili' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: v.$backHeader;
  flex-wrap: wrap;
  @media screen and (max-width: 760px) {
    justify-content: space-between;
  }
  nav {
    margin-left: auto;
  }
}
.wrapperInnerHader {
  .wrapperlogo {
    background-color: rgb(246, 246, 246);
    padding: 20px 10px 10px 10px;
    margin-left: 40px;
    margin-top: -27px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #a5a5a5;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: 2rem;
    @media screen and (max-width: 760px) {
      background-color: transparent;
      padding: 0;
      margin-left: 0px;
      margin-top: 5px;
      box-shadow: 0px 0px 0px #a5a5a5;
    }
  }
  .logo {
    width: 110px;
    @media screen and (max-width: 760px) {
      width: 100px;
    }
  }
  .header_text {
    font-family: 'Open Sans Bold';
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
    color: gray;
  }

  display: flex;
  padding-top: 17px;
  .org,
  .app {
    color: v.$gray;
    font-size: 1rem;
    font-family: 'Open Sans Bold';
    margin-bottom: 5px;
    @media screen and (max-width: 760px) {
      font-size: 0.8rem;
    }
    span {
      font-family: 'Open Sans Regular';
    }
  }
}
