@import '../../../assets/scss/_variabili';

section.settingSensore {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: $navbarButtons;
  width: 100%;
  min-height: 100%;
  z-index: 100;
}
.title {
  margin: 0;
}
.settingSensoriBtn {
  font-size: 0.9rem;
  position: absolute;
  bottom: -32px;
  line-height: 1;
  height: auto;
  padding: 10px 10px 25px 10px;
  right: 4rem;
  background-color: $navbarButtons;
}
.sensoriSetBtn {
  padding: 10px 20px;
  height: auto;
  display: block;
  margin: 0 10px 0 auto;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 1;
}
.settingSensoriBtnBack {
  font-size: 0.9rem;
  line-height: 1;
  height: auto;
  padding: 10px;
  right: 1rem;
  display: block;
}
input {
  display: block;
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  outline: none;
  background-color: white !important;
  width: 100%;
  max-width: 400px;
}
.singleSensor {
  position: relative;
  margin-bottom: 23px;
  &:first-child {
    margin-top: 1.5rem;
  }
  &:last-of-type {
    margin-bottom: 0rem;
  }
  h3 {
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    background-color: $backHeader;
    margin: 0 0 10px 0;
    text-align: center;
    border-radius: 50%;
    line-height: 1.8rem;
    position: absolute;
    left: -9px;
    top: -14px;
    z-index: 100;
  }
}
.wrapperSetting {
  header {
    height: auto;
    display: flex;
    flex-direction: row;
    .demoBtn {
      height: auto;
      padding: 10px;
      font-size: 0.8rem;
      background-color: #8498a6;
      color: white;
    }
  }
  h3 {
    text-transform: uppercase;
  }
  input {
    max-width: 100px;
    height: 25px;
  }
  .wrapperSetSensor {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;

    &:nth-child(3) {
      margin: 0 0 1rem 0;
    }
  }
  .windowSensori {
    display: flex;
    justify-content: space-around;
    position: relative;
    border-left: 1px dashed rgba(122, 122, 122, 0.95);
    margin: 0px 11px;
    padding-top: 5px;
    .labelWindow {
      position: absolute;
      top: -15px;
      left: -2px;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  fieldset {
    display: flex;
    align-items: center;
    padding: 5px 6px;
    border-radius: 5px;
    background-color: #aebdc7;
    border: 0;
    flex-basis: 113px;

    &.fieldHv {
      background-color: #8498a6;
      label {
        color: white;
      }
    }
    &.wrapperHv {
      max-width: 200px;
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
    label {
      margin-left: 1rem;
      margin-right: 0.3rem;
      font-size: 11px;
      position: relative;
      top: -10px;
      left: 2px;
      font-weight: bold;
    }
    input {
      margin: 0;
      max-width: 100px;
    }
  }
}
