.timer {
  margin-left: 2rem;
  font-size: 2.5rem;
  padding: 10px;
  background: #e13534;
  border-radius: 10px;
  line-height: 1;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px 6px #cec9c9;
  span {
    margin-left: 5px;
    margin-right: 5px;
  }
  sup {
    font-size: 12px;
    vertical-align: baseline;
    margin-right: 3apx;
  }
}
