.dashboard{
    display: flex;
    flex-wrap: wrap;
    max-width: 517px;
    position: relative;
    box-shadow: 0 0 3px #b4b4b4;
    border-radius: 30px;
    padding: 1rem;
    background-color: #efefef;
    background:linear-gradient(180deg,rgba(240,240,240) 10%, rgb(247, 247, 247) 100%);
}