.dashboard{
    display: flex;
    flex-wrap: wrap;
    max-width: 517px;
    width: 100%;
    min-height: 500px;
    position: relative;
    box-shadow: 0 0 3px #b4b4b4;
    border-radius: 30px;
    padding: 1rem;
    background-color: #efefef;
    background:linear-gradient(180deg,rgba(239,239,239) 10%, rgb(247, 247, 247) 100%);
    
    transition: all ease-in-out .3s;

   
}
/* .dashboard.alert::before{

    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #EE2E32;
    z-index: -1;

    border-radius: 30px;
    animation:backalert 1s forwards , backalertcolor 1s infinite alternate;
}
 */
/* @keyframes backalertcolor {
    from{background: #b41c1f;}
    to{background: #EE2E32}
    
}

@keyframes backalert {
    from{left: 0px;
        top: 0px;}
    to{left: -29px;
        top: 24px;}
    
} */