@font-face {
  font-family: 'Open Sans Regular';
  src:url(./assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(./assets/fonts/OpenSans/OpenSans-Bold.ttf) format('truetype'),
       local(Arial);
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src: url(./assets/fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype'),
      local(Arial);
  font-display: swap;
}


div{
  box-sizing: border-box;
}
body{
  background: #d9d9d9;
}
#root{
  height: 100vh;
}
.App{
 
}
.wrapper-sx{
  position: relative;
  width: 557px;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
.wrapper-sx.modalOpen{
  opacity: 0.6;
  pointer-events: none;
  transform: scale(.95);
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader.dash{

}
.App .wrapper-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Open Sans regular';
  color: #4f4f4f;
  width: 100%;
}
main{
  max-width: 940px;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}

.back-alert {
  position: absolute;
  top: 35%;
  z-index: -2;
  animation:backalert 1s forwards;
}

.back-alert img{
  width: 480px;
}

@keyframes backalert {
  from{left: -1000px;}
  to{left: -10px;}

}


