@font-face {
  font-family: 'Open Sans Regular';
  src:url(./assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url(./assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url(./assets/fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src: url(./assets/fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype');
}
body{
  background: #d9d9d9;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App .wrapper-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Open Sans regular';
  color: #4f4f4f;
}
main{
  max-width: 910px;
}