@import '../../../../assets/scss/_variabili';

.wrapperGraph {
  position: relative;
  flex: 1;
  height: 100%;
  margin-left: 1rem;

  h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  nav {
    ul {
      display: flex;
      margin: 0 0 25px 0;

      li {
        font-size: 2rem;
        margin: 10px;
        padding: 5px 5px 0px 5px;
        cursor: pointer;

        &.active {
          border-bottom: 1px solid;
        }

        span {
          font-size: 1rem;
        }
      }
    }
  }

  .boxGraph {
    position: relative;
  }

  .graphItem {
    font-size: 12px;
    font-weight: bold;
  }

  .pericoloGraph {
    margin-top: 1rem;
  }
}
