@import '../../../../assets/scss/_variabili';

.wrapperGraph {
  position: relative;
  flex: 1;
  height: 100%;
  nav {
    ul {
      display: flex;
      li {
        font-size: 2rem;
        margin: 10px;
        padding: 5px 5px 0px 5px;
        cursor: pointer;
        &.active {
          border-bottom: 1px solid;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }
  .boxGraph {
    position: relative;
  }
  .graphItem {
    font-size: 12px;
    font-weight: bold;
  }
  .storicoSensore {
    position: absolute;
    padding: 20px;
    background-color: $navbarButtons;
    width: 95%;
    height: 450px;
    z-index: 100;

    ul {
      margin: 0;
      li {
        margin: 5px 0;
      }
    }
  }
  .storicoBtn {
    font-size: 0.9rem;
    position: absolute;
    top: -65px;
    background-color: $navbarButtons;
  }
}
